<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>欢迎进入乘车金</h1>
    <p>当前时间：<%= currentTime %></p>
  </body>
</html>
