/*弹出*/
.mask-ff{background: rgba(0,0,0,0.7);position: fixed;top:0;bottom: 0;left: 0;right: 0;  display: -webkit-box;
  display: -webkit-flex;
  
  display: -moz-box;
  display: -moz-flex;
  
  display: -ms-flexbox;
  
  display: flex;
  
  /* 水平居中*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack:center;/* IE 10 */
  
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
  
  /* 垂直居中 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align:center;/* IE 10 */
  
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;}
  
.alert{width:70%;padding:10px;background: #fff;border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;position: relative;text-align: center;z-index:996;}


.close{position: absolute;width:92%;height: 30px;top: 106%;;border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;}