.wrap-page{background: #d1eff7}
.top-banner{height: 5.3125rem;background: #1fbad6;text-align: center;}
.logo{width: 3.109375rem;margin: 0.296875rem auto auto auto;}
.uber-box{position: absolute;height: 5.3125rem;width: 5.3125rem;border: 1px solid #fff;top:2.21875rem;left:50%;margin-left: -2.65625rem;background: rgba(255,255,255,0.15);-moz-border-radius: 2.65625rem;
    -webkit-border-radius:  2.65625rem;
    border-radius: 2.65625rem;text-align: center;}
.uber{height: 2.84375rem;width: 2.84375rem;margin-top:1.234375rem; }
.uber1{width: 3.109375rem;margin-top:0.78125rem; }
.upline{margin-right: 1.40625rem;border-top:2px solid #1fbad6;height:0;margin-top: 3.75rem}
.downline{margin-left: 1.40625rem;border-bottom:2px solid #1fbad6;height:0;}
.msg-info{margin: 0 1.40625rem;padding:0.1875rem 0;font-size: 0.46875rem;color: #fff;text-align: center;}
.btn-box{
margin:0.78125rem 2.0rem 0 2.0rem;
border:1px solid #2c3e4a;
padding:2px;
-moz-border-radius:0.609375rem;
    -webkit-border-radius: 0.609375rem;
    border-radius:0.609375rem;
}
.btn-black{-moz-border-radius: 0.5625rem;
    -webkit-border-radius: 0.5625rem;
    border-radius: 0.5625rem;border:1px solid #2c3e4a; background: #3d3b49;color: #fff;font-size: 0.46875rem; padding: 0;line-height: 1.125rem}
/*页面初始化判断没有红包提示信息*/
.init-info-box{background: #d1eff7;position: fixed;top:0;bottom: 0;left:0;right:0;text-align: center;font-size: 0.46875rem;color: #3d3b49; }   
.init-box{height:0.9375rem;position: absolute;top:50%;margin-top: -0.46875rem;left:0;right:0;text-align: center;}
.init-box p{margin-top: 0.3125rem}
/*抢红包后输入手机提示*/
.mask{min-height:100%;text-align: center; -webkit-overflow-scrolling: touch;}
.mask1{background: #d1eff7;position: fixed;top:0;bottom: 0;left:0;right: 0;text-align: center;}
.mobile-form{height:8.9375rem;top:50%;position: absolute;left:1.40625rem;right:1.40625rem;margin-top: -4.46875rem}
.resault{color:#eb6100;font-size:0.5625rem;text-align: center;line-height: 0.625rem;margin:1.25rem auto;}
.inline-diy{margin:0.46875rem auto;}
.mobile-form1{height:6.25rem;top:50%;position: absolute;left:1.40625rem;right:1.40625rem;margin-top:-3.125rem;}
.mobile-form1 p{color:#ff9c00;font-size:0.5625rem;text-align: center;margin-top:1.25rem;margin-bottom: 1.25rem }
#errorInfo{margin:0.15625rem auto;}
#err-info{margin:0.46875rem 0.3125rem 0 0.3125rem;font-size:0.4375rem;font-weight:bold;color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;}
.cash{font-size: 0.625rem;margin:0.15625rem auto;font-weight: bold;}
.coupan-dot{transition: opacity .4s ease-in-out;
    display: inline-block;width: 42vw;
    -webkit-column-break-inside: avoid;box-shadow:2px 2px 3px #aaaaaa;margin:0.3125rem;padding:0.15625rem 0.3125rem ;background: #66c9e0;text-align: center;color: #FFFFFF;border-top:0.0625rem dotted #FFFFFF;}
.coupan-dot h4{font-size: 0.75rem;font-weight: bold;padding:0.078125rem;border-bottom:1px dashed #FFFFFF}
.coupan-dot p{font-size: 0.375rem;margin-top:0.234375rem;

}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#carcoupon_div{-webkit-column-width:42vw;
    -webkit-column-gap: 0.234375rem;
     margin: 50px auto;}

     
.carcoupan-single-box{
margin: 50px auto;
text-align:center;
}
.coupan-single-dot{
	transition: opacity .4s ease-in-out;
    display: inline-block;
    width: 42vw;
    box-shadow: 2px 2px 3px #aaaaaa;
    margin: 0.3125rem;
    padding: 0.15625rem 0.3125rem;
    background: #66c9e0;
    text-align: center;
    color: #FFFFFF;
    border-top: 0.0625rem dotted #FFFFFF;
}
.coupan-single-dot h4 {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.078125rem;
    border-bottom: 1px dashed #FFFFFF;
}