.form-group1{width: 65%; margin: 60% 20% 0 15%;}
.form-group2{width: 65%; margin: 20px 20% 0 15%;}
.fontsize{color: #f9f9f9;}
.box1{width: 65%; margin: 50px 20% 5px 15%;background:rgba(227,228,234,0.2);}
.box2{width: 65%; margin:20px 20% 5px 17%;position: relative;z-index: 9999;}
.box3{position: relative;top: -60px;left: 28%;z-index: 9999;color: white;}
.box3 span{font-size: 24px;}
/*抢红包*/
.qiang-bg,.qiang-resault-bg{height:100%;background:#a74739;-webkit-overflow-scrolling: touch; }
.hongbao-head{width: 100%;z-index: 2}
#cai{height:100px;width: 100px;-moz-border-radius: 50px;      /* Gecko browsers */
    -webkit-border-radius: 50px;   /* Webkit browsers */
    border-radius:50px;            /* W3C syntax */
    background: #F8B62C;
    margin:auto;
    margin-top: -60px;
    text-align: center;
    line-height: 100px;
    z-index: 99;
    position: relative;
    color:#fff;
    font-weight: bold;
    font-size: 2rem;
}
.hongbao-lable-box{position: absolute;top:50%;left:0;right:0;text-align: center;}
.hongbao-lable-box h1{font-size: 2rem;font-weight: bold;line-height:3;color: #fca420}
.hong-ts{font-size: 1rem;color: #ffaa35;}
.open{
    -webkit-animation:flip 1s .2s ease both;
    -moz-animation:flip 1s .2s ease both;}
@-webkit-keyframes flip{
    0%{-webkit-transform:perspective(400px) rotateY(0);
        -webkit-animation-timing-function:ease-out}
    40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(170deg);
        -webkit-animation-timing-function:ease-out}
    50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -webkit-animation-timing-function:ease-in}
    80%{-webkit-transform:perspective(400px) rotateY(360deg) scale(.95);
        -webkit-animation-timing-function:ease-in}
    100%{-webkit-transform:perspective(400px) scale(1);
        -webkit-animation-timing-function:ease-in}
}
@-moz-keyframes flip{
    0%{-moz-transform:perspective(400px) rotateY(0);
        -moz-animation-timing-function:ease-out}
    40%{-moz-transform:perspective(400px) translateZ(150px) rotateY(170deg);
        -moz-animation-timing-function:ease-out}
    50%{-moz-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -moz-animation-timing-function:ease-in}
    80%{-moz-transform:perspective(400px) rotateY(360deg) scale(.95);
        -moz-animation-timing-function:ease-in}
    100%{-moz-transform:perspective(400px) scale(1);
        -moz-animation-timing-function:ease-in}
}
.qiang-resault{text-align: center;margin-top: 20px}